
 body {width: 100%; align-content: justify;}
 .menubar {background-color: black; color: white; width: 82.1%; height: 40px; 
 word-spacing: 300px; font-size: 20px; padding: 10px;margin-left: 60px;}
 li {display: inline;margin-left: 40px; padding: 10px; padding-top: 20px;}
 .banner {height: 50px; background: #333333;color: white; margin-right:0px;
 margin-left: 60px;padding: 30px;width: 80.5%; text-align: center;font-size: 24px;}
 .welcome {background: #0099ff; width: 66%; height: 300px; color: white;float: left;margin: 20px;
 border: thick solid white; border: 10px; margin-left: 80px;border-top:20px; padding: 20px; 
 border-color: white; font-size: 26px; }
 .welcome div {font-size: 18px; text-align: left;width: 20%; }
 .what {background: #333333; width: 11%; height: 320px; color: white; float: right;margin: 20px;
 border: thick solid white; border: 30px; border-top:20px; padding: 10px; border-color: white;
 margin-right: 400px; }
 .what div {background: black; color: white; font-size: 20px; width: 150px; height: 40px;padding: 10px;
 padding-bottom: 3px;border-color: white; border: 10px; float: right}
 .feature{width: 81%; height: 40px; background: black; color: white;margin-top: 380px;padding: 5px;
     font-size: 16px; border: 30px;margin-left: 80px; margin-right: 0px;padding-bottom: 10px;}
 .malecol{background: #0099ff; border: thick solid white; border: 20px; margin-left: 30px;margin-right: 400px;
 margin-top: 20px; width: 16%; height: 350px; padding: 42px;float: right;}
 .malecol div {background: black; color: white; font-size: 20px; width: 100px; height: 40px;padding: 10px;
 padding-bottom: 3px;border-color: white; border: 10px; float: right; margin-top: 50px;}
 .femalecol{background: #0099ff; border: thick solid white; border: 20px; margin-left: 30px;
 margin-top: 20px; width: 16%; height: 350px; padding: 42px;float: right;}
 .femalecol div {background: black; color: white; font-size: 20px; width: 100px; height: 40px;padding: 10px;
 padding-bottom: 3px;border-color: white; border: 10px; float: right;margin-top: 50px;}
 .spray{background: #0099ff; border: thick solid white; border: 20px; margin-left: 30px;
 margin-top: 20px; width: 16%; height: 350px; padding: 42px;float: right;}
 .spray div{background: black; color: white; font-size: 20px; width: 100px; height: 40px;padding: 10px;
 padding-bottom: 3px;border-color: white; border: 10px; float: right;margin-top: 50px;}
 .oil{background: #0099ff; border: thick solid white; border: 0px; margin-left: 0px;margin-right: 10px;
 margin-top: 20px; width: 16%; height: 350px; padding: 42px; float: right;}
 .oil div{background: black; color: white; font-size: 20px; width: 100px; height: 40px;padding: 10px;
 padding-bottom: 3px;border-color: white; border: 10px; float: right;margin-top: 50px;}
 .service{color: black; background: white; float: left;margin: 20px; border: 20px;width: 18%; height: 300px; 
 font-size: 24px;margin-left: 70px;}
 .service div {background: black; color: white; font-size: 20px; width: 150px; height: 40px;padding: 10px;
 padding-bottom: 3px;}
 .s{color: black; background: white; float: left; margin: 20px; border: 20px;width:18%;
  height: 300px;font-size: 24px;margin-left: 70px; }
  .s div{background: black; color: white; font-size: 20px; width: 150px; height: 40px;padding: 10px;
 padding-bottom: 3px;}
 .content{color: black; background: white; float: left; margin: 20px; border: 20px;width: 18%;
 border-top: 20px; height: 300px; font-size: 24px; margin-left: 100px;}
 .form {text-align: left; float: right;background: #999999;color: black;margin-top: 20px;
  width: 17%; margin-right: 400px; padding: 10px;}
 fieldset{border: #999999;}
 h2 {color: #0099ff}
 a {color: #0099ff}
  </style>